<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %> 
<body>
    
    <%- include('./partial/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus scelerisque metus, eu interdum dui blandit vitae. Aliquam condimentum, arcu at porta dignissim, erat quam tristique quam, in porttitor nulla odio at lectus. Suspendisse potenti. Etiam condimentum a mauris vitae lacinia. Nulla facilisi. Vivamus sed volutpat leo. Etiam mattis ullamcorper lacinia. Nam eros massa, sagittis non egestas non, gravida nec urna. In varius nunc in nunc laoreet ornare. Sed volutpat consectetur enim, euismod ullamcorper tortor iaculis eu. Phasellus a felis arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris aliquam dolor vitae leo iaculis, quis mollis sapien placerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus scelerisque metus, eu interdum dui blandit vitae. Aliquam condimentum, arcu at porta dignissim, erat quam tristique quam, in porttitor nulla odio at lectus. Suspendisse potenti. Etiam condimentum a mauris vitae lacinia. Nulla facilisi. Vivamus sed volutpat leo. Etiam mattis ullamcorper lacinia. Nam eros massa, sagittis non egestas non, gravida nec urna. In varius nunc in nunc laoreet ornare. Sed volutpat consectetur enim, euismod ullamcorper tortor iaculis eu. Phasellus a felis arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris aliquam dolor vitae leo iaculis, quis mollis sapien placerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus scelerisque metus, eu interdum dui blandit vitae. Aliquam condimentum, arcu at porta dignissim, erat quam tristique quam, in porttitor nulla odio at lectus. Suspendisse potenti. Etiam condimentum a mauris vitae lacinia. Nulla facilisi. Vivamus sed volutpat leo. Etiam mattis ullamcorper lacinia. Nam eros massa, sagittis non egestas non, gravida nec urna. In varius nunc in nunc laoreet ornare. Sed volutpat consectetur enim, euismod ullamcorper tortor iaculis eu. Phasellus a felis arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris aliquam dolor vitae leo iaculis, quis mollis sapien placerat.</p>
    </div>

    <%- include('./partial/footer.ejs') %>

</body>
</html>